
/* 
.why {width: 62%; margin-bottom: 1em;}
.why p+p {padding-top: 7px;}

.bt {width: 33%; float:left; padding: 11px 11px 11px 0; margin: 2em 0;}
.bt+.bt {border-left:1px solid #eee; padding-left: 11px;}
.bt label {display:inline-block; padding-left: 3px; color: #555; padding-top:0;}

.description {min-height: 100px;}

.bt li {background:#eee; padding: 7px; margin-bottom: 4px; border-radius: 0.3em; }
.bt li label:hover {cursor:pointer; color: #111;}
.bt li em {font-family:'AdelleSans-Bold'; font-style:normal;}
.bt h4 {font-size: 1.5em;}

.bqimg {background: #eee; border:1px solid #eee;  height: 250px; margin-bottom: 1em; position:relative;}
.bqimg img {position:absolute; top:0; left:0;}
.bqimg img.start {z-index:1000;}
.result {font-family:'AdelleSans-Bold'; padding: 7px;}
.result.good { color: #64c10a;}
.result.bad {color: #fc0e0e;}



input[type="submit"]:hover {background: #f80 !important; cursor:pointer; color: #fff !important;}

input[type=submit][disabled=disabled]:hover {
color: #333; background: #eee;
}



.checker select, .checker input {font-size: 2em;}
input[type="submit"] {background: #f90; color:#222; font-size: 1.3em; border:0; font-family:'AdelleSans-Bold'; padding: 3px 7px; border-radius: 0.3em; }


input[type=submit][disabled=disabled],
button[disabled=disabled] {
    color: #777; background: #eee;
}
.recipient em { font-size: 0.9em; color: #777; font-style:normal;}

p.explain {width: 62%; font-size: 0.9em; color: #555; padding: 5px 0;}

.delivery {padding-top: 1em;}
.delivery p {padding-bottom: 0.3em;}

.bouquets {overflow: hidden;} */