/* reset */

body, p, h1, h2, h3, h4, h5, h6, blockquote, pre, ul, ol, dd, table, td, th
{margin:0; padding:0; font-size: 100%; vertical-align:baseline;}
h1,h2,h3,h4,h5 {font-weight:normal;}
body {line-height: 1;}
ul,ol {list-style:none;}
table { border-collapse: collapse; border-spacing: 0; }
caption {text-align:left;}
th {font-weight:normal;}
:focus { outline: 0; }
a {text-decoration:none;}
a:active {border:0;}
a img {border:0;}
fieldset {border:0;}
body { overflow-y:scroll; }



/* green earth flowers */

body {font-family: 'AdelleSans-Light', arimo, arial, sans-serif; line-height: 1.35;  font-size: 15px; color: #ddd; background:#cae1dd; position:relative; margin:0; padding:0;}

#c {width: 400px; background: rgba(0,0,0,0.8); background: url(../i/85.png); overflow:hidden; text-shadow: 1px 1px 3px rgba(0,0,0,0.9); position:relative; z-index:5999; }


#c.hasform {padding-left: 400px; margin-left: -400px;}

.pc { padding: 25px 25px 65px 25px; float:right; width: 350px;}

/* homepage */
html {height: 100%;}
body#index {min-height: 100%; }
#index #c { position:absolute; top: 50%; margin-top: -75px;  height: 155px; }
#index #c .nav {padding:0;}

.special {clear:both; width: 187px; float:left; margin-top: 0.25em; padding-left:9em;}
#index #c .nav .special a {background: #fff; display:block; clear:both; text-align:center; padding: 7px 0 5px 0; text-shadow: none; color: #fc0e0e; line-height:1;}
#index #c .nav .special a:hover {background: #ddd;}

.special {clear:both; width: 187px; float:left; margin-top: 0.25em; padding-left:9em;}
#c .nav .special a {background: #fff; display:block; clear:both; text-align:center; padding: 7px 0 5px 0; text-shadow: none; color: #fc0e0e; line-height:1;}
#c .nav .special a:hover {background: #ddd;}


/* other pages */

.nav { overflow:hidden; padding: 105px 0 0 0;}
.nav a { font-size : 15px; text-transform:uppercase; border:0; color: #bbb; line-height: 23px;}
.nav a.active {color: #fff;}
.nav a.active:hover {color: #fff;}
.nav a:hover {color: #fff;}
.nav h1 {width: 135px; float:left;}
.nav h1 a {display:block; text-indent:-8000em; background:url(../i/nobox.png) top left no-repeat; height: 80px;}
.nav h1.nolink {display:block; text-indent:-8000em; background:url(../i/nobox.png) top left no-repeat; height: 80px;}
.nav ul {width: 110px; float:left; margin-top: 8px;}

.nav ul+ul {/* margin-top: 31px; */ width: 100px; margin-left: 5px;}
.nav ul+ul a {color: #888;}
.nav ul li.special a {color: #ffcfed;}
.nav ul li.special a:hover {color: #cd027d;}

.nav ul li.special a.active {color: #ffcfed;}
.nav ul li.special a.active:hover {color: #fff;}



/* special days */

#special h2 {font-size: 1.8em; padding: 1em 0; line-height:1.2; color: #ffcfed; font-family: perpetua, didot, georgia, serif;}


/* finish xmas */


.content {width: 310px; padding: 18px 0 0 20px; }
.content p {margin-bottom: 9px;}
.content a {color:#fff; border-bottom:1px solid #444; font-weight:normal;}
.content a:hover {border-color: #eee;}

#contact .content {padding-top: 30px;}
.content b {font-weight:normal;}
.content .group p {margin-bottom:0;}
.content h3 {margin-top:1.5em; margin-bottom: 0.3em; color: #fff;  text-transform:uppercase; font-size: 13px;}
.content p.rest {padding-top: 30px;}
p.phone {font-size: 32px; margin-bottom:1em; overflow:hidden;}
p.phone i {display:block; float:left; text-indent:-8000em; width: 20px; margin-right: 6px; background:url(../i/phone.png) -8px 3px no-repeat;}
p.phone b {letter-spacing: 0.08em;}
a.icon {display:inline-block; padding-top: 0.5em; padding-left: 1.5em; border:0; background:url(../i/icons.png) 2px 8px no-repeat;}
a.icon i {font-style:normal; border-bottom:1px solid #444;}
a.icon:hover i {border-bottom:1px solid #eee;}

a.icon.google {background-position:left -81px;}
a.icon.fb {background-position:1px -170px;}
a.icon.tw {background-position:left -126px;}

.content .group.address { margin-top: 2em;}

.content .group {}
.content .group.hours p {overflow:hidden;}
.content .group.hours p b {width: 100px; float:right; text-align:right;}

.content .group.social {margin:2em 0;}

.areas {margin: 3.5em auto 0 auto; width: 310px;}
.areas ul {margin-top: 1em;}
.areas ul li {width: 155px; float:left; padding-bottom: 1px;}
.areas ul li:nth-child(2n) {padding-left: 25px; width: 130px;}
.areas a {color:#fff; border-bottom:1px solid #444; font-weight:normal;}
.areas a:hover {border-color: #eee;}

* {zoom:1;}

p.asbutton a {border:1px solid #222; font-size: 1.1em; line-height:1; padding: 14px 11px 11px 23px; display:block; background: #000 url(../i/right_arrow.png) 4px center no-repeat; margin:2em 0 !important; color: #ffcfed; border-radius: 1px;} 
p.asbutton a:hover {background-color: #111; border:1px solid #222; border-radius: 0.1em; color: #fff;}

p.asbutton.symp a {color:#ccc;}
p.asbutton.symp a:hover {color: #fff;}

.asbutton i { font-size: 0.8em; font-style:normal; color: #fff;}

/* form */

#jqform {width: 370px; margin-left:-400px; overflow:hidden; padding: 175px 15px 50px 15px; z-index: 6999; float:left; }
#jqform form {width: 310px; margin: 2.5em auto 0 auto;  }

#jqform label {color: #fff; display:block; padding-top: 1em; padding-bottom: 0.1em;}

input,textarea, button {font-size: 1em; font-family: 'AdelleSans-Light'; width: 310px; }

a.openform {margin-top: 2em;}
a.closed {position:absolute; top:-9999px;}
a.openform.icon.close {width: 16px; height; 16px; float:right;  text-indent:-8000em; padding:0; margin-top: 0.6em; margin-right: 0.5em;background:url(../i/closehoverstate.png) top left no-repeat;}
a.openform.icon.close:hover { background-position: left -67px;

}

a.openform.hastext {color:#fff; font-weight:normal;   margin-left: 2em; clear:both; float:left; margin-top: 2em; background:url(../i/right_arrow.png) left center no-repeat; padding-left: 19px;}

a.openform.hastext i {color:#fff; border-bottom:1px solid #444; font-style:normal;  }



a.openform.icon.wedding {margin-top:0;}

input,textarea, button {font:normal 1em/1.35 'AdelleSans-Light', arimo, arial, sans-serif; padding: 5px; border-radius: 0.12em; -webkit-border-radius: 0.12em;}

input,textarea {box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5); background: #222; width: 300px; color:#fff;}
input {}
input:focus, textarea:focus {background: #ddd; color:#222; border:1px solid #111;}
button {background: #999 url(../i/buttonshine.png) top left repeat-x; border:0; display:inline-block; padding: 0 7px; margin-top: 28px; color: #000; width: 100px; text-transform:uppercase; line-height:32px; -moz-border-radius: 0.2em; -webkit-border-radius: 0.2em; border-radius: 0.2em;}

button:hover {cursor:pointer; background-color: #bbb;}
.required {border:1px solid #444;}

label {display:block; padding-bottom:2px;}

input.error {border:1px solid #fc0e0e; background:#fff url(../i/error.png) right center no-repeat; color:#fc0e0e;}
textarea.error {border:1px solid #fc0e0e; background:#fff;}
#jqform label.error {color: #fc0e0e; font-size: 0.85em; padding: 6px 0 0 1px; /*background:url(pointer.png) 2px 9px no-repeat;*/ }
input.success {border:1px solid #afce00;}
textarea.success {border:1px solid #afce00;}



p.success {width: 310px; margin: 0 auto; padding-left: 36px; padding-top: 75px; background:url(../i/ok.png) left 68px no-repeat; padding-bottom:12px;}

/* footer */


.footer {position:absolute; top:-9999px;}


/* weddings */
#weddings {
background:#cae1dd;
}
#weddings #c {position:absolute; top:0; left:0; background-color: rgba(0,0,0,0.9);}


.weddingcarousel {margin-left: 415px; overflow:hidden; min-width: 230px; }
.weddingcarousel ul {list-style-type: none; margin:15px 0 0 0; padding:0;}


.weddingcarousel li { float:left;  margin: 0 15px 15px 0; position:relative; width: 195px; height: 175px; overflow:hidden; }
.weddingcarousel li img {position:absolute; top:0; left:0; display:block;}
.weddingcarousel li a {position:absolute; z-index:1000; top:0; left:0; width: 195px; height: 175px; background:url(../i/blank.gif);}

.weddingcarousel li b {position:absolute; z-index: 500; top: 50%; margin-top:-15px; right:0; width: 30px; height: 30px; background: rgba(0,0,0,0.5) url(../i/right_arrow.png) center center no-repeat; text-indent: -8000em;}

.weddingcarousel li span {line-height: 1; font-size: 1.3em; color: #333; padding: 20px; display:block; position:absolute; top:0; left:0; background:url(../i/w88.png); background:rgba(255,255,255,0.8); width: 195px; height: 175px; }
.weddingcarousel li span i {display:block; font-style:normal; }
.weddingcarousel li a span {left:-250px;}



/* wedding detail */

#weddingp #c {background: rgba(255,255,255,0.88); background:url(../i/w88.png); text-shadow:none; color: #222;}
#weddingp #c h2 {font-size: 2em; padding-top: 2em; padding-bottom:0; line-height:1;}

.load-item {background: #fff url(../i/next.png) center top no-repeat; background: rgba(255,255,255,0.7) url(../i/next.png) center top no-repeat; z-index: 1000; position:absolute; top: 50%; right:0; height: 100px; width: 100px;}

#prevslide.load-item { background-image: url(../i/prev.png);}

/* also see supersized.shutter.css */
.wc {padding: 25px 40px;}

a#goback {position:absolute; top:0; left:0; width: 36px; height: 36px; background: #000 url(../i/close.png) center center no-repeat; background: rgba(0,0,0,0.8) url(../i/close.png) center center no-repeat; text-indent:-8000em;z-index:9999;}
a#goback:hover {background-color: #000;}

a#hidecontent {position:absolute; top: 95%; left:0; width: 32px; height: 32px; background: transparent url(../i/getback.png) left center no-repeat; text-indent:-8000em;  margin-top: -16px; z-index:8000;}

a#hidecontent.isin {background-image:url(../i/getback.png);}

a#hidecontent:hover { cursor:pointer; }

p.locations {margin-bottom: 1em;}

.wc h3 {color: #777;  text-transform:uppercase; font-size: 13px; }
.wc a {color:#333; border-bottom:1px solid #999; font-weight:normal;}
.wc a:hover {border-color: #444;}

.wc blockquote {background: #fff; padding:1em 3em 3em 1em; margin-bottom:2em; margin-left: -1em; font-size: 0.9em;}
.wc blockquote p {padding-bottom: 5px;}

p.start2 {margin-top: 2em;}


/* sympathy v2 


.sympathyflowers {margin-left: 415px; overflow:hidden; min-width: 230px; }
.sympathyflowers img {display:block; width: 195px; height: 175px; overflow:hidden; float:left; margin: 14px 14px 0 0;}

#sympathy #c {position:absolute; top:0; left:0; background-color: rgba(0,0,0,0.9);}

*/


/* error page */
.content.error {padding: 3em;}
.errormessage {font-size: 2em; line-height: 1.2; color: #fc0e0e;}


@media screen and (max-width: 640px) {

#c {text-shadow:none;}
.content {font-size: 17px; width:auto; padding:2em 0;}
.pc {width: auto;}
.footer {position:static; top:0; width: 310px; padding: 18px 0 50px 20px; margin: 0 auto; font-size: 17px;}

.footer a {color:#fff; border-bottom:1px solid #444; font-weight:normal;}
.footer a:hover {border-color: #eee;}
.footer p.big {font-size:24px; padding-bottom: 5px; }

.nav {padding-top: 35px; }
.nav h1 {float:none; padding-bottom: 1em;}
.nav ul { float:none; clear:both;  width: 100%; padding:0; margin:0;}
.nav ul+ul {margin:0; width: 100%; }
.nav ul li a {padding: 11px; background: rgba(255,255,255,0.8); display:block; margin-bottom:1px; width: 290px; color: #222; }

.nav ul li a.active {background: rgba(0,0,0,0.5);}
.nav ul li a:hover {background: rgba(100,100,100,0.7);}
.pc {height: auto;}

#index #c {position:static; top:0; left:0; margin: 100px 0 0 0; height: auto;}

a.openform {position:absolute; top:-9999px;}
p.hm {position:absolute; top:-9999px;}
.weddingcarousel {min-width: 200px;}
}


.xmas {padding: 2em 0;}
.xmas h2 {color: #fc0e0e; font-size: 1.35em; text-transform: uppercase; line-height:1; padding-bottom: 0.2em;}
.xmas ul {padding-top:1em;}
.xmas li {padding: 4px;}
.xmas li+li {border-top: 1px solid #ddd; }
.xmas li span {display:inline-block; width: 100px;}
.xmas .bt+.bt {padding-top: 2em;}
.xmas .description {width: 30%; float:left;}
.xmas .image {float:left; width: 60%;}
.xmas .image img {max-width: 100%;}
.xmas .bt {overflow:hidden;}
