.weddingcarousel li {  width: 390px;}
.weddingcarousel .shade { left:195px;}
.weddingcarousel b {display:none;}

#weddingp img {max-width: 95%; margin: 1em auto; display:block; border:7px solid #fff; box-shadow: 0 0 7px rgba(0,0,0,0.3);}