/* blue ddd */

body {background: #fff url(../i/faux_bg.png) left top repeat-y;}

/* wraps the whole page */
#c {  width: 100%; background:transparent; overflow:hidden; }
.pc { position:fixed; top:0; left:0;}


.nav {}

strong { font-family:'AdelleSans-Bold'; font-size: 0.9em; color: #777; font-weight:normal;}

.main { margin-left: 416px; margin-right: 1.5em; text-shadow:none; color: #222; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.main * {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.header { margin: 0.45em 0 0 0; padding: 0 0 1em 0; overflow:hidden;}
.header h2 {font-size: 2em; padding-top: 1em; line-height:1.1;}

/* debugging, show full width 

.pc {display:none;}
body {background: #fff;}
.main {margin-left:0;}

*/

/* end debugging */

/* colour: #cae1dd; 202,225,221 */


/* progress indicator */

.progress {overflow:hidden; padding: 2em 0 1em 0; }
.progress li {float:left; line-height: 2.1em; padding-right: 1em; }
.progress li b {font-family:'AdelleSans-Bold'; font-weight:normal; display:inline-block; border-radius: 3em; width: 2em; height: 2em; text-align:center; color:#222; background:#cae1dd; }
.progress li.todo {color: #888;}
.progress li.todo b {background-color: #eee; color: #888;}


.instructions { max-width: 750px; padding-right: 260px; margin: 1em 0 1em 0; background:url(../buy/buy_images/two_options.png) right 40% no-repeat;}
.instructions p {padding-bottom: 0.7em;}


.main a {font-family:'AdelleSans-Bold'; color: #004184;}
.main a:hover {text-decoration: underline;}

fieldset {background: #fff; padding: 0.4em 0 1em 0; margin-bottom: 2em; max-width: 800px;}
fieldset.flowerchoice {}
fieldset h3 { font-size: 1.3em; color: #222; /* border-top:1px solid #ddd; */ padding: 0.4em 0 0.3em 0;}
fieldset h3+p.help { margin-top: -0.6em; padding-bottom:2em;}

fieldset h4 { font-family:'AdelleSans-Bold'; padding-top:1em;}

.main input, .main textarea, .main select { font-family: 'AdelleSans-Light', arimo, arial, sans-serif; line-height: 1.35;  font-size: 15px; color: #333; padding: 4px; background: #fff; border:1px solid #ccc; border-radius: 0; width: auto; box-shadow:none; margin-bottom: 0.5em; background: #f0f0f0;}

.main input[type="submit"] {box-shadow: none; background: #f90 url(../i/nextorder.png) 93% center no-repeat; margin: 2em 0 0.5em 0; border-radius: 3px; font-family:'AdelleSans-Bold'; border:none; padding: 9px 42px 7px 30px; color: #fff; font-size: 1.2em;}
.main input[type="submit"]:hover {background-color: #fff; cursor: pointer;}

.main label:hover {cursor:pointer;}

label {display:block; padding-top: 0.6em; line-height:1; padding-bottom: 0.2em;}
label+input, label+textarea {margin-top: 3px;}
input[type="submit"]:hover {background-color: #f80 !important; cursor:pointer; color: #fff !important;}

input:focus, select:focus, textarea:focus {background: #fff; border:1px solid #888 !important;}

input[readonly] {border:1px solid #888 !important;}

input[type="text"] {margin-bottom: 5px; }

p.help {color: #777; padding:6px 0 11px 18px; font-size: 0.85em; max-width: 500px; background:url(../i/tinyhelp.png) left 7px no-repeat; clear:both;}

.choosercontainer {float:left; width: 100%; border:1px solid #c30; }
.chooser {width: 31%; max-width:232px; height: 200px; float:left; background: #cae1dd; position:relative; overflow:hidden; border-radius: 0.1em;
 }
.chooser+.chooser {margin-left: 1em;}

.chooser a span {display:block; padding: 11px 10px 7px 14px;  background: rgba(0,0,0,0.85) url(../buy/buy_images/down.png) 93% center no-repeat; color: #fff; position: absolute; bottom: 0px; width: 100%; font-size: 1.1em; z-index:1000;}
.chooser a:hover span {background-color: #000;}
.chooser img {position:absolute; top: 0; left:0; max-width: 100%;}

.options {border-top:1px solid #cae1dd; width: 100%;}
.options#greenwhite {border-bottom:2px solid #cae1dd; padding-bottom: 2em;}

.buyoptions {padding-top: 1em;}
.buyoptions li {padding:5px; overflow:hidden; width: 100%;}
.buyoptions li+li {border-top:1px dotted #cae1dd;}
.buyoptions li b {font-family:'AdelleSans-Bold'; font-weight:normal; float:left; width: 25%; text-align:right; padding-right: 0.5em;  line-height: 26px;}
.buyoptions li em {background: #f90; font-style:normal; color: #fff;  border-radius: 0.2em; padding: 0 0.5em; line-height: 26px; font-family:'AdelleSans-Bold'; float:left;}
.buyoptions li label {display:inline-block; padding:0; line-height:1; float:left; width: 85%; line-height: 26px;}
.buyoptions li label span {width: 45%; float:left; }
.buyoptions li input {line-height: 26px; float:left; padding:0; margin:0; position:relative; top: 6px; left :8px;}
.buyoptions li *:hover {cursor:pointer;}
.buyoptions li em:hover {color: #222;}

.buyoptions li em.sold {color: #fff; background: #222;}

.options { overflow:hidden; clear:both; margin: 1em 0; float:left;}

.options .image {width: 60%; float:right; margin: 1em 0;}
.options img {max-width: 100%; display:block;}

.options .about {float:left; width: 38%;}
.options .about h3 {color: #222; font-family: 'AdelleSans-Bold'; font-size: 1em;}
.options .about p {padding-bottom: 0.5em;}
.options .buyoptions {float:left; width: 38%; clear:left;}

.options p.imageamount {background:url(../i/tinyhelp.png) left center no-repeat; padding: 0.7em 1.3em;}



.errors {background:#fff; padding: 14px 10px; border-left: 4px solid #f90; margin-bottom:1em;}
.errors h3 {color: #f90; padding-bottom:1em;}
.errors ul {padding-left: 1.5em;}
.errors li {list-style-type: disc;}

.cardsave {border-top:1px solid #cae1dd; padding: 1em 0 1em 0.3em;margin-top: 10em;}
.cardsave.sendover {margin-top: 2em;}

/* result */


.whatordered {background: #fff; padding: 1em 0; margin-bottom: 2em; margin-top: 0.5em; border-top:1px solid #cae1dd; border-bottom:1px solid #cae1dd;}
.whatordered strong {font-family:'AdelleSans-Bold'; font-weight:normal; font-size: 1em; color: #222;}
.whatordered span {display:block; padding-bottom: 1em;}
.whatordered b {font-family:'AdelleSans-Bold'; font-weight:normal; display:block; text-transform: uppercase; font-size: 0.8em; padding-top:0.5em;}

p.less {margin-top: 2em; color: #777;}
p.confirm {margin-top: 1.5em;}

/* jquery */

.invisible {position:absolute !important; top:-9999px !important; left:0 !important;} 

.instructions.selected {background: #fff; border:1px solid #cae1dd; border-bottom:0;}


.main input.required {border:1px solid #bbb;}
.main input.required.error {border:1px solid #fc0e0e;}
.main input.success {border: 1px solid #a7bb00;}

.main select.required {border:1px solid #bbb;}
.main select.required.error {border:1px solid #fc0e0e;}
.main select.success {border: 1px solid #a7bb00;}


label.error {margin:0; padding:0; line-height: 1.7; display:block; font-size: 0.8em; color: #fc0e0e;}

.fakepbuttons { }
.fakepbuttons a {display:inline-block; padding: 0 0 0 54px;  line-height: 44px; background: #fff url(../buy/buy_images/bullets.png) left bottom no-repeat; text-align:left; margin-bottom: 10px; }

.fakepbuttons a.delivery {background-position:left top;}

.fakepbuttons a:hover {color: #222; text-decoration:none;}

.fakepbuttons a.clicked {color: #222;}
.fakepbuttons a.inactive {position:absolute; top:-9999px;}

.fakepbuttons.button {display:inline-block; padding: 0 0 0 54px;  line-height: 44px; background: #fff url(../buy/buy_images/bullets.png) left bottom no-repeat; text-align:left; margin-bottom: 10px; font-family: 'AdelleSans-Bold'; color: #222;}
.fakepbuttons.button.delivery {background-position:left top;}



.nomessage {width: 62%; margin:0.5em 0 2em 0;}
.nomessage h3 {font-family: 'AdelleSans-Bold'; color: #222; font-size: 1em; padding: 0 0 0.2em 0; }
/* delivery or pickup options */


/* jquery flower selector */

fieldset.intro {margin-bottom:0; padding: 1em 0 0 0;}

.postcodeask.temp,.importantquestion {overflow:hidden; clear:both; margin: 0 0 0 0; }
.postcodeask.temp,.importantquestion h3 {color: #222;}
.main .postcodeask.temp input[type="submit"],.importantquestion input[type="submit"] {margin:0; font-size: 1em; color: #222; padding: 6px 25px 6px 7px; position:relative; top:-1px;}

.main .postcodeask.temp {margin-bottom:1em;}
.importantquestion input[type="submit"] {margin-left: 10px;}

.result.good {  background:url(../i/ok.png) 10px center no-repeat;  padding: 15px 10px 15px 50px; margin: 0 0 1em 0;}
.result strong {color: #222; font-size: 1em;}
.result.bad {padding: 0.5em 0 0.5em 2.2em; background:url(../i/error.png) left 9px no-repeat;}


.chooser.notselected {border:10px solid #fff; opacity: 0.6;}
.chooser.notselected:hover {opacity: 1;}

.options.noborders {border:0;}

.tamessage {font-size: 1.2em; width: 500px;}
.tamessage p {padding-bottom:1em;}
