/* reset */  

body, p, h1, h2, h3, h4, h5, h6, blockquote, pre, ul, ol, dd, table, td, th
{margin:0; padding:0; font-size: 100%; vertical-align:baseline;}
h1,h2,h3,h4,h5 {font-weight:normal;}
body {line-height: 1;}
ul,ol {list-style:none;}
table { border-collapse: collapse; border-spacing: 0; }
caption {text-align:left;}
th {font-weight:normal;}
:focus { outline: 0; }
a {text-decoration:none;}
a:active {border:0;}
a img {border:0;}
fieldset {border:0;}
body { overflow-y:scroll; }



/* green earth flowers */

body {font-family: 'AdelleSans-Light', arimo, arial, sans-serif; line-height: 1.35;  font-size: 15px; color: #333; background:#fff; position:relative; margin:0; padding:0;}

.main a { color: #222;  display:inline-block; background: #eee; padding: 5px 11px 5px 22px;}
.main a:hover {background: #222; color: #fff;}

.main {max-width: 800px; margin: 0 auto; padding-bottom: 10em;}

.back {padding: 7px 0; border-bottom:1px solid #eee; margin-bottom:1em;}

.header {border-bottom:1px solid #eee; margin: 3em 0 0 0; padding: 0 0 1em 0; overflow:hidden;}
.header h1 {width: 125px; height: 125px; float:left; margin-right: 1.5em; text-indent:-8000em; background:url(../img/logo.png) top left no-repeat;}
.header h2 {font-size: 2.3em; padding-top: 1.5em; line-height:1.1;}

.progress {overflow:hidden; padding: 10px; border-bottom:1px solid #eee;}
.progress li {float:left; line-height: 2em; padding-right: 2em; }
.progress li b {font-family:'AdelleSans-Bold'; font-weight:normal; display:inline-block; background:#b1d7b1; border-radius: 3em; width: 2em; height: 2em; text-align:center; }
.progress li.todo {color: #999;}
.progress li.todo b {background-color: #eee;}



.section {padding-left: 150px; padding-bottom: 50px; padding-top: 50px; clear:both;}
.section h3 {font-family:'AdelleSans-Bold'; font-size: 1.5em;}
.why {width: 62%; margin-bottom: 1em;}
.why p+p {padding-top: 7px;}

.bt {width: 33%; float:left; padding: 11px 11px 11px 0; margin: 2em 0;}
.bt+.bt {border-left:1px solid #eee; padding-left: 11px;}
.bt label {display:inline-block; padding-left: 3px; color: #555; padding-top:0;}

.description {min-height: 100px;}

.bt li {background:#eee; padding: 7px; margin-bottom: 4px; border-radius: 0.3em; }
.bt li label:hover {cursor:pointer; color: #111;}
.bt li em {font-family:'AdelleSans-Bold'; font-style:normal;}
.bt h4 {font-size: 1.5em;}

.bqimg {background: #eee; border:1px solid #eee;  height: 250px; margin-bottom: 1em; position:relative;}
.bqimg img {position:absolute; top:0; left:0;}
.bqimg img.start {z-index:1000;}
.result {font-family:'AdelleSans-Bold'; padding: 7px;}
.result.good { color: #64c10a;}
.result.bad {color: #fc0e0e;}

input,textarea,select { font-family: 'AdelleSans-Light', arimo, arial, sans-serif; line-height: 1.35;  font-size: 15px; color: #333; padding: 4px;}

/*
input[type="submit"]:hover {background: #f80 !important; cursor:pointer; color: #fff !important;}

input[type=submit][disabled=disabled]:hover {
color: #333; background: #eee;
}
*/
input,textarea {border:1px solid #ccc;}
label {display:block; padding-top: 14px; line-height:1.2;}
label+input, label+textarea {margin-top: 3px;}

.checker select, .checker input {font-size: 2em;}
input[type="submit"] {background: #f90; color:#222; font-size: 1.3em; border:0; font-family:'AdelleSans-Bold'; padding: 3px 7px; border-radius: 0.3em; }


input[type=submit][disabled=disabled],
button[disabled=disabled] {
    color: #777; background: #eee;
}
.recipient em { font-size: 0.9em; color: #777; font-style:normal;}

p.explain {width: 62%; font-size: 0.9em; color: #555; padding: 5px 0;}

.delivery {padding-top: 1em;}
.delivery p {padding-bottom: 0.3em;}

.bouquets {overflow: hidden;}