/* reset */

body, p, h1, h2, h3, h4, h5, h6, blockquote, pre, ul, ol, dd, table, td, th
{margin:0; padding:0; font-size: 100%; vertical-align:baseline;}
h1,h2,h3,h4,h5 {font-weight:normal;}
body {line-height: 1;}
ul,ol {list-style:none;}
table { border-collapse: collapse; border-spacing: 0; }
caption {text-align:left;}
th {font-weight:normal;}
:focus { outline: 0; }
a {text-decoration:none;}
a:active {border:0;}
a img {border:0;}
fieldset {border:0;}
body { overflow-y:scroll; }

/* green earth flowers */

body {font-family: 'AdelleSans-Light', arimo, arial, sans-serif; line-height: 1.35;  font-size: 15px; color: #ddd; background:#cae1dd; position:relative; margin:0; padding:0;}

#c {width: 400px; background: rgba(0,0,0,0.8); background: url(../Images/85.png); overflow:hidden; text-shadow: 1px 1px 3px rgba(0,0,0,0.9); position:relative; z-index:5999; }

.pc { padding: 25px 25px 65px 25px; float:right; width: 350px;}


/* other pages */

.nav { overflow:hidden; padding: 105px 0 0 0;}
.nav a { font-size : 15px; text-transform:uppercase; border:0; color: #bbb; line-height: 23px;}
.nav a.active {color: #fff;}
.nav a.active:hover {color: #fff;}
.nav a:hover {color: #fff;}
.nav h1 {width: 135px; float:left;}
.nav h1 a {display:block; text-indent:-8000em; background:url(../Images/nobox.png) top left no-repeat; height: 80px;}
.nav h1.nolink {display:block; text-indent:-8000em; background:url(../Images/nobox.png) top left no-repeat; height: 80px;}
.nav ul {width: 110px; float:left; margin-top: 8px;}

.nav ul+ul {/* margin-top: 31px; */ width: 100px; margin-left: 5px;}
.nav ul+ul a {color: #888;}
.nav ul li.special a {color: #ffcfed;}
.nav ul li.special a:hover {color: #cd027d;}

.nav ul li.special a.active {color: #ffcfed;}
.nav ul li.special a.active:hover {color: #fff;}


* {zoom:1;}

.footer {position:absolute; top:-9999px;}

@media screen and (max-width: 640px) {

#c {text-shadow:none;}
.content {font-size: 17px; width:auto; padding:2em 0;}
.pc {width: auto;}
.footer {position:static; top:0; width: 310px; padding: 18px 0 50px 20px; margin: 0 auto; font-size: 17px;}

.footer a {color:#fff; border-bottom:1px solid #444; font-weight:normal;}
.footer a:hover {border-color: #eee;}
.footer p.big {font-size:24px; padding-bottom: 5px; }

.nav {padding-top: 35px; }
.nav h1 {float:none; padding-bottom: 1em;}
.nav ul { float:none; clear:both;  width: 100%; padding:0; margin:0;}
.nav ul+ul {margin:0; width: 100%; }
.nav ul li a {padding: 11px; background: rgba(255,255,255,0.8); display:block; margin-bottom:1px; width: 290px; color: #222; }

.nav ul li a.active {background: rgba(0,0,0,0.5);}
.nav ul li a:hover {background: rgba(100,100,100,0.7);}
.pc {height: auto;}
}



