/* blue ddd */

body {background: #fff url(../Images/faux_bg.png) left top repeat-y;}

/* wraps the whole page */
#c {  width: 100%; background:transparent; overflow:hidden; }
.pc { position:fixed; top:0; left:0;}

strong { font-family:'AdelleSans-Bold'; font-size: 0.9em; color: #777; font-weight:normal;}

.main { margin-left: 416px; margin-right: 1.5em; text-shadow:none; color: #222; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.main * {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.header { margin: 0.45em 0 0 0; padding: 0 0 1em 0; overflow:hidden;}
.header h2 {font-size: 2em; padding-top: 1em; line-height:1.1;}


.progress {overflow:hidden; padding: 2em 0 1em 0; }
.progress li {float:left; line-height: 2.1em; padding-right: 1em; }
.progress li b {font-family:'AdelleSans-Bold'; font-weight:normal; display:inline-block; border-radius: 3em; width: 2em; height: 2em; text-align:center; color:#222; background:#cae1dd; }
.progress li.todo {color: #888;}
.progress li.todo b {background-color: #eee; color: #888;}

.main a {font-family:'AdelleSans-Bold'; color: #004184;}
.main a:hover {text-decoration: underline;}


.cardsave {border-top:1px solid #cae1dd; padding: 1em 0 1em 0.3em;margin-top: 10em;}
.cardsave.sendover {margin-top: 2em;}

p.copyright {font-size: 0.8em; color: #777; width: 62%; margin-top: 1em;}

ul.important {margin: 1em 0 1.7em 0;}
ul.important li { line-height: 32px; padding-left: 38px; margin-bottom: 8px; background:url(../Images/lock_image.png) left center no-repeat;}
ul.important li.register { line-height: 32px; padding-left: 38px; margin-bottom: 8px; background:url(../Images/thumb_image.png) left center no-repeat;}

/* tweaks to cardsave styles */


.ContentHeader {background:none; padding:0.3em 0 0.7em 0 !important; height: auto; border-top:1px solid #CAE1DD; }
.FormLabel {text-align:left; display:block; float:left; color: #222; padding: 0.3em 0 0.4em 0; width: 160px;}
.FormInputTextOnly { font-weight:normal; font-family:'AdelleSans-Bold'; font-size: 1.1em;}
.FormRequiredDescription {float:left; padding-bottom: 0.5em;}
.FormRequiredDescription span {font-style:normal;font-size: 1em; color: #FF2020;}
#CardDetailsHeader {margin-top: 1em; float:left; width: 100%;}
#CustomerDetailsHeader {margin-top: 2em; float:left; width: 100%;}

input[type="text"] {padding: 4px; font-size: 1em; font-family: 'AdelleSans-Light';  border:1px solid #ccc;}
.FormSubmit {text-align:left; padding: 2em 0;}
input#SubmitButton {clear:both;  background: #f90; margin: 2em 0 0.5em 0; border-radius: 3px; font-family:'AdelleSans-Bold'; border:none; padding: 9px 42px 7px 30px; color: #fff; font-size: 1.2em;}
input#SubmitButton:hover {cursor:pointer; background-color: #f80;}